@model Bank_Configuration_Portal.Models.DeleteModalViewModel
@using Bank_Configuration_Portal.Resources


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">@Language.Delete_Label</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Language.ConfirmDelete_Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Language.Cancel_Button</button>
                @using (Html.BeginForm("Delete", @Model.ControllerName, FormMethod.Post, new { id = "deleteForm", @class = "d-inline" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", null, new { id = "deleteId" })
                    @Html.Hidden("rowVersion", null, new { id = "deleteRowVersion" })
                    <button type="submit" class="btn btn-danger">@Language.Delete_Label</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="concurrencyModal" tabindex="-1" aria-labelledby="concurrencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="concurrencyModalLabel">@Language.Concurrency_Conflict_Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Model.ConcurrencyErrorMessage</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Language.Cancel_Button</button>
                @using (Html.BeginForm("Delete", @Model.ControllerName, FormMethod.Post, new { id = "forceDeleteForm", @class = "d-inline" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", null, new { id = "forceDeleteId" })
                    @Html.Hidden("rowVersion", null, new { id = "forceDeleteRowVersion" })

                    // Non-Model value so we used standard HTML tag
                    <input type="hidden" name="forceDelete" value="true" />
                    <button type="submit" class="btn btn-danger">@Language.Delete_Label</button>
                }
            </div>
        </div>
    </div>
</div>